import React from 'react';
import AppPage from '@components/Layouts/AppPage/AppPage';
import './{{pascalCase name}}.styles.scss';

/**
 * {{pascalCase name}} component description
 */

type {{pascalCase name}}Props = {};

// Rendering the page
const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (/* {} */) => (
  <AppPage>
    <div data-testid="{{pascalCase name}}">
      {{pascalCase name}} component. Edit it at <code>pages/{{pascalCase name}}/{{pascalCase name}}.ts</code>
    </div>
  </AppPage>
);

export default {{pascalCase name}};
